<!DOCTYPE html>
<html>
    <head>
        <title>Todo List</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link href="/assets/style.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <h1>Todo app</h1>
           <div id="todo-table">
                <form action="/adddata" method="POST">
                    ID:<input type="text" name="EmpID"><br>
                    Name:<input type="text" name="Name"><br>
                    Code: <input type="text" name="EmpCode"><br>
                    Salary:<input type="text" name="Salary"><br>
                    <br>
                    <input type="submit" value="Submit">
                  </form>
                  <br><br>
               
           </div>
    </body>
</html>